@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Comfortaa Variable Weight';
    src: url('./assets/fonts/Comfortaa-VFW.ttf');
}

@font-face {
    font-family: 'Open Sans Variable Weight';
    src: url('./assets/fonts/OpenSans-VFW.ttf');
}

.stripe-base {
    @apply absolute top-0 -left-[10%] w-full h-full;
    box-shadow: 10px 0 10px rgba(0 0 0 / .25);
}

.flex-center {
    @apply justify-center items-center;
}

h1, h2 {
    @apply font-comfortaa;
}

p {
    @apply font-opensans;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* html {
    box-sizing: border-box;
  }
*, *:before, *:after {
  box-sizing: inherit;
} */
