@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Comfortaa Variable Weight';
    src: url('./assets/fonts/Comfortaa-VFW.ttf');
}

@font-face {
    font-family: 'Open Sans Variable Weight';
    src: url('./assets/fonts/OpenSans-VFW.ttf');
}

/* -top-32 group-hover:top-[105%] */
.dropdown {
    @apply absolute top-[105%] -z-30;
    @apply bg-zinc-900 group-hover:bg-zinc-900 bg-transparent;
    @apply w-32 rounded drop-shadow-md;
    @apply [&>*]:group-hover:visible [&>*]:invisible text-white;
    @apply flex flex-col p-2;
    @apply transition-all duration-300;
}

.form-input {
    @apply bg-transparent p-2 mb-2 px-4 transition-colors duration-1000;
    @apply border-[3px] outline-none;
    @apply text-white text-lg;
}

.stripe-base {
    @apply absolute top-0 -left-[10%] w-full h-full;
    box-shadow: 10px 0 10px rgba(0 0 0 / .25);
}

.flex-center {
    @apply justify-center items-center;
}

h1, h2 {
    @apply font-comfortaa;
}

p {
    @apply font-opensans;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Table */
.table {
    @apply w-full text-sm text-left text-gray-400;
}
    .table > caption {
        @apply p-5 text-lg font-semibold text-left text-white bg-zinc-800/50;
    }
        .table > caption > p {
            @apply mt-1 text-sm font-normal text-gray-400;
        }
    .table > thead {
        @apply text-xs uppercase bg-zinc-700/50 text-gray-400;
    }
        .table > thead > tr > th {
            @apply py-3 px-6;
        }
    .table > tbody > tr {
        @apply transition-all duration-300 border-b bg-zinc-800/50 border-zinc-700 hover:bg-zinc-700/30;
    }
        .table > tbody > tr :nth-child(1) {
            @apply py-4 px-6 font-medium whitespace-nowrap text-white;
        }
        .table > tbody > tr > td {
            @apply py-4 px-6;
        }


